@model List<Model.Alumno>
@{
    ViewBag.Title = "Listado de Alumnos";
}

<h2 class="page-header">
    Alumnos
</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th style="width:200px;">Sexo</th>
            <th style="width:200px;">Fecha de nacimiento</th>
            <th style="width:100px;">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
        <tr>
            <th>@(m.Nombre + " " + m.Apellido)</th>
            <th>@(m.Sexo == 1 ? "Hombre" : "Mujer")</th>
            <th>@(m.FechaNacimiento)</th>
            <th style="width:100px;">
                <a class="btn btn-xs btn-primary btn-block" href="~/home/veralumno/@m.id">Visualizar</a>
            </th>
        </tr>
        }   
    </tbody>
</table>